/*CSS by Abby Napier */

/*CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Custom styles*/

/*Root styles*/
:root {
    --pl-blue: #E9EEF2;
    --dk-blue: #135070;
    --mint: #A8BFAA;
    --title-font: "Lavishly Yours", cursive;
    --h-font: "Lugrasimo", cursive;
    --body-font: "Enriqueta", serif;
}

/*Font styles*/
h1{
    font-family: var(--title-font);
    font-size: 5rem;
    color: var(--pl-blue);
}

h2{
    font-size: 2rem;
    font-family: var(--h-font);
}

h3{
    font-size: 1.5rem;
    font-family: var(--h-font);
}

h4{
    font-size: 1.3rem;
    font-family: var(--h-font);
}

p{
    font-size: 1.2rem;
    font-family: var(--body-font);
}

/*Body styles*/
body{
    background-color: var(--pl-blue);
    width: 1280px;
    margin: auto;
}

/*Skip link*/
.skip-link{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*Header styles*/
header{
    background-color: var(--dk-blue);
    max-height: 180px;
    display: flex;
    flex-direction: column; 
}

header h1{
    text-align: center;
    margin-top: 30px;
}

header img{
    align-self: flex-start;
}


/*About section styles*/
.aboutImg {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.aboutImg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%; 
  background: linear-gradient(to bottom, #135070 0%, transparent 100%);
  pointer-events: none; 
}


#result{
    max-width: 10rem;
}